.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    text-align: left;
    grid-area: place__title;
    letter-spacing: 0em;
    margin: 0px;
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 510px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        width: 288px;
        justify-self: center;
    }
}