.photo-grid {
    max-width: calc(100% - 96px);
    margin-bottom: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    list-style-type: none;
    padding: 0px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: calc(100% - 48px);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        max-width: calc(100% - 32px);
        grid-template-columns: 1fr;
        gap: 12px;
        margin-bottom: 29px;
    }
}
