.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 987px;
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
    }
}
