.places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 987px;
    margin: 92px 148px 92px 145px;
}

@media screen and (max-width: 1000px) {
    .places {
        margin: 92px 50px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin: 44px 0px 88px;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        margin: 10px 0px 64px;
    }
}
