.place__description-paragraph {
    margin: 0px 0px 25px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.63;
    letter-spacing: 0em;
    text-align: left;
}

.place__description-paragraph:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place__description-paragraph {
        font-size: 16px;
    }
}
