.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    letter-spacing: 0em;
    text-align: center;
    margin: 32px 0px;
    max-width: 320px;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 1.14;
        margin: 16px 0px;
    }
}