.intro__quote {
    max-width: 690px;
    margin: 0px 0px 10px;
    font-size: 24px;
    line-height: 1.42;
    font-weight: 400px;
}

@media screen and (max-width: 320px) {
    .intro__quote {
        line-height: 1.25;
    }
}
