.lead__subtitle {
    max-width: 720px;
    margin: 32px auto 64px;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 510px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 288px;
        margin: 16px auto 40px;
    }
}