.cover {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    width: calc(100% - 96px);
    min-height: 740px;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
        min-height: 746px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        margin: 0px 0px 64px;
        min-height: 254px;
    }
}
