.cover {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 100%;
        margin-top: 64px;
    }
}