.place {
    width: 100%;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 460px 1fr;
    grid-template-areas: "place__title place__website" "place__image place__description" "place__buy-link place__description";
    margin-bottom: 80px;
}

.place:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
    .place {
        margin-bottom: 72px;
        grid-template-rows: 90px 340px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 46px 320px 1fr 48px;
        grid-template-areas: "place__title" "place__website" "place__image" "place__description" "place__buy-link";
        margin-bottom: 48px;
        margin-top: 0px;
    }
}
