.buy-link_place {
    width: 248px;
    height: 48px;
    grid-area: place__buy-link;
}

@media screen and (max-width: 320px) {
    .buy-link_place {
        justify-self: center;
        width: 288px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
