.place__website-url-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.12em;
    text-align: left;
    color: #AAAAAA;
    margin: 0px 0px 8px;
    text-transform: uppercase;
}